{% extends 'homepage_base.html' %}

{% block home_base_css  %}
<style>
*{
  margin:0;
  padding:0;
}

 .div{
  font-family: 'Poppins', sans-serif;
  width:90vw;

  display:flex;
  justify-content:center;
  align-items:center;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 30px;

    flex-direction: column;
    align-items: center;
    width: 500px;
    margin:10px;
}

.card .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .text img{
    height: 170px;
    border-radius: 50%;
  margin-bottom:10px;
}

.card .text h3{
    font-size: 40px;
    font-weight: 400;
}

.card .text p:nth-of-type(1){
    color: rgb(35, 182, 219);
    font-size: 15px;
    margin-top: -5px;
}

.card .text p:nth-of-type(2){
    margin: 10px;
    width: 90%;
    text-align: center;
}

.card .links{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.card .links i{
    color: rgb(35, 182, 219);
    font-size: 20px;
    cursor: pointer;
}

.card .links i:hover{
    color:rgb(29, 157, 189) ;
}
@media only screen and (max-width:300px)

{

 .div{
        font-family: 'Poppins', sans-serif;
        width:90vw;
        height:100vh;
        display:inline-block;
        justify-content:center;
        align-items:center;
        font-size:1rem;
      }
      .card {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        padding: 30px;

        flex-direction: column;
        align-items: center;
        width: 300px;
        margin:10px;
      }
}

</style>
{% endblock home_base_css  %}

{% load static %}

{% block body_content %}

    <div class="card1"><br>
        <center><h1 style="border-bottom:2px solid blue; width:200px;" >Our Teams</h1><center>
    </div>
 <!--You can write something here-->
   <p class="mx-5"></p>

    <div class="div mx-5">

        <div class="card">
            <div class="text">
                <img src=" {% static 'images/profile-pic.jpeg' %}" alt="">
                <h3>Kiran Ingale</h3>

                <p>Student | Developer</p>
                <p>

                   Hello, I'm Kiran Ingale from pune maharashtra. I am pursuing my Bachelor of Engineering(BE) in Computer Science Engineering from savitribai phule pune university.
               </p>
                <p><b>About Work:</b> I have worked on following features:<br> 1. Import Contacts feature<br> 2.View Contacts <br> 3.Filters and searching feature <br> 4.Save Searches feature <br> 5.Delete Save Searches <br> 6.Homepage <br> 7.Our teams page <br> 8. Export Contacts feature <br> 9.add contact manually</p>
            </div>
            <div class="links">

                <a target="_blank" href="https://github.com/kiraningale2001"><i class="fab fa-github"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/kiran-ingale-546432207"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
<div class="card">

            <div class="text">
                <img src="{% static 'images/picture-tejaswi.jpeg' %}" alt="">
                <h3>Tejaswi Balla</h3>
                <p>Student | Developer</p>
                <p>
                    Hi, I’m Tejaswi from Visakhapatnam. I’m a Computer Science and Engineering student at Godavari Institute of Engineering and Technology, Rajahmundry.

                </p>
                <p><b>About Work:</b> I have worked on: <br>1. Authentication and Authorization<br>2. Login and Registration<br>Custom dashboard for each user type<br>4. Security<br>5. Limits feature<br>6. Scoring feauture</p>
            </div>
            <div class="links">
                <a target="_blank" href="https://github.com/tezu0406"><i class="fab fa-github"></i></a>
                <a target="_blank" href="www.linkedin.com/in/tejaswi-balla"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
 </div>
 <div class="div mx-5">
       <div class=" card mx-5">

            <div class="text">
                <img src=" {% static 'images/Img.png' %}" alt="">
                <h3>Rishabh Jain</h3>
                <p>Student | Business Analyst</p>
                <p>
                    Rishabh resides in Delhi and  is currently pursuing Bachelors of Commerce from Ramanujan College, University of Delhi.
                </p>
                <p><b>About Work:</b> Write Something About Your Work</p>
            </div>
            <div class="links">

                <a target="_blank" href="https://www.linkedin.com/in/rishabh-jain-0582bb205"><i class="fab fa-linkedin"></i></a>

            </div>
        </div>
 </div>

          <!-- <div class="container-fuild" style="background-color:grey; color:white; height:auto; "><br>

         <h1 class="mx-5">Tapleads</h1>
         <div class="d-flex" style="float:right; padding:10px;">


        </div>

        <center><p> Mail: @TapLeads@gmail.com</p> <p> Phone:125544646946</p><center>
         <center><p>© 2021 All Rights Reserved. TapLeads </p><center>



         </div> -->

{% endblock body_content %}
